<ul class="square">
  <li id="squa"></li>
  <li id="squa"></li>
  <li id="squa"></li>
  <li id="squa"></li>
  <li id="squa"></li>
  <li id="squa"></li>
  <li id="squa"></li>
  <li id="squa"></li>
  <li id="squa"></li>
  <li id="squa"></li>
</ul>
