<!DOCTYPE html>
<html>
  <%- include("../partials/link.ejs") %>

  <body>
    <%- include ("../partials/navbar.ejs") %> <%- include
    ("../partials/background.ejs") %>

    <div class="mb-5 d-flex justify-content-center">
      <div class="panel mx-auto w-75">
        <div class="panel-body">
          <div class="channel col-5 text-light">
            <span class="tooltip-text">Zephyr</span>
            <i class="fas fa-hashtag"
              ><span class="chan-id">Nouveautés</span></i
            >
          </div>
          <form method="post">
            <small class="form-text text-light">Attention: le titre ne doit pas contenir les caractères < et >. ( Utilisez / pour aller a la ligne)</small>          
            <div class="form-group">
              <label for="gameURL">URL de l'image</label>
              <input
                type="text"
                class="form-control"
                id="gameImage"
                name="gameImage"
                autocomplete="off"
                pattern="^[^<>]+$"
              />
            </div>
            <div id="imagePreview"></div>
            <div class="form-group">
              <label for="gameName">Nom du jeu</label>
              <input
                type="text"
                class="form-control"
                id="gameName"
                name="gameName"
                autocomplete="off"
                pattern="^[^<>]+$"
              />
            </div>
            <div class="form-group">
              <label for="gameURL">URL de téléchargement</label>
              <input
                type="text"
                class="form-control"
                id="gameURL"
                name="gameURL"
                autocomplete="off"
                pattern="^[^<>]+$"
              />
            </div>
            <div class="form-group">
              <label for="gameDescription">Description du jeu</label>
              <textarea
                class="form-control"
                id="gameDescription"
                rows="3"
                name="gameDescription"
                autocomplete="off"
                pattern="^[^<>]+$"
              ></textarea>
            </div>
            <div class="container">
              <div class="select-btn">
                <span class="btn-text">Catégories</span>
                <span class="arrow-dwn">
                  <i class="fa-solid fa-chevron-down"></i>
                </span>
              </div>
              <ul class="list-items" id="gameList">
                <li class="item">
                  <span class="checkbox">
                    <input
                      class="check"
                      type="checkbox"
                      name="games"
                      value="Jeu"
                      pattern="^[^<>]+$"
                    />
                  </span>
                  <span class="item-text">Jeu</span>
                </li>
                <li class="item">
                  <span class="checkbox">
                    <input
                      class="check"
                      type="checkbox"
                      name="games"
                      value="Logiciel"
                      pattern="^[^<>]+$"
                    />
                  </span>
                  <span class="item-text">Logiciel</span>
                </li>
                <li class="item">
                  <span class="checkbox">
                    <input
                      class="check"
                      type="checkbox"
                      name="games"
                      value="Switch"
                      pattern="^[^<>]+$"
                    />
                  </span>
                  <span class="item-text">Switch</span>
                </li>
                <li class="item">
                  <span class="checkbox">
                    <input
                      class="check"
                      type="checkbox"
                      name="games"
                      value="Console"
                      pattern="^[^<>]+$"
                    />
                  </span>
                  <span class="item-text">Console</span>
                </li>
                <li class="item">
                  <span class="checkbox">
                    <input
                      class="check"
                      type="checkbox"
                      name="games"
                      value="Apk"
                      pattern="^[^<>]+$"
                    />
                  </span>
                  <span class="item-text">APK</span>
                </li>
                <li class="item">
                  <span class="checkbox">
                    <input
                      class="check"
                      type="checkbox"
                      name="games"
                      value="Online"
                      pattern="^[^<>]+$"
                    />
                  </span>
                  <span class="item-text">Online</span>
                </li>
                <li class="item">
                  <span class="checkbox">
                    <input
                      class="check"
                      type="checkbox"
                      name="games"
                      value="Coop"
                      pattern="^[^<>]+$"
                    />
                  </span>
                  <span class="item-text">Coop</span>
                </li>
                <li class="item">
                  <span class="checkbox">
                    <input
                      class="check"
                      type="checkbox"
                      name="games"
                      value="Coop_Local"
                      pattern="^[^<>]+$"
                    />
                  </span>
                  <span class="item-text">Coop Local</span>
                </li>
                <li class="item">
                  <span class="checkbox">
                    <input
                      class="check"
                      type="checkbox"
                      name="games"
                      value="Français"
                      pattern="^[^<>]+$"
                    />
                  </span>
                  <span class="item-text">Français</span>
                </li>
                <li class="item">
                  <span class="checkbox">
                    <input
                      class="check"
                      type="checkbox"
                      name="games"
                      value="Anglais"
                      pattern="^[^<>]+$"
                    />
                  </span>
                  <span class="item-text">Anglais</span>
                </li>
              </ul>
            </div>

            <script>
              var imageInput = document.getElementById("gameImage");
              var imagePreview = document.getElementById("imagePreview");

              imagePreview.style.backgroundImage =
                "url('" + imageInput.value + "')";

              imageInput.addEventListener("input", function () {
                imagePreview.style.backgroundImage =
                  "url('" + imageInput.value + "')";
              });

              window.addEventListener("load", function () {
                setTimeout(() => {
                  document.getElementById("loader").style.opacity = "0";
                }, 800);
                setTimeout(function () {
                  document.getElementById("loader").style.display = "none";
                }, 1300);
              });
              const selectBtn = document.querySelector(".select-btn"),
                items = document.querySelectorAll(".item"),
                gameList = document.getElementById("gameList");

              selectBtn.addEventListener("click", () => {
                selectBtn.classList.toggle("open");
              });

              items.forEach((item) => {
                item.addEventListener("click", () => {
                  item.classList.toggle("checked");
                  const input = item.querySelector("input[name='games']");

                  if (input) {
                    if (input.checked) {
                      input.checked = false;
                    } else {
                      input.checked = true;
                    }
                  }
                  console.log(item.querySelectorAll(".check"));
                  let checked = document.querySelectorAll(".checked"),
                    btnText = document.querySelector(".btn-text");

                  if (checked && checked.length > 0) {
                    btnText.innerText = `${checked.length} sélectionné(s)`;
                  } else {
                    btnText.innerText = "Sélectionner un jeu";
                  }
                });
              });
            </script>
            <button type="submit" class="btn btn-primary">Ajouter</button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://kit.fontawesome.com/15198d5ddf.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
</html>
